header { 
    background-color: #0B1C51;
    text-align: center;
}

header h1 {
    font-size: 52px;
    color:white;
    margin: 0px;
    text-align: left;

}

header nav {
    font-family: 'Montserrat' ;
    color: white;
    display: flex;
    padding-left: 0;
    justify-content: center;
    list-style: none;
    
}

header nav ul{
    display:flex;
    list-style:none;
    padding-left: 0;
    
}

header nav ul li a{
    color:white;
    text-decoration:none;
    margin: 0 20px 0 0;
    text-align-last: right;
}

@media all and (min-width: 600px) {
    h1 {
        font-size: 48px;
    }
}